*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Menu con Submenu*/
ul {
    list-style: none;
    font-size:0;/* truco por el uso de inline-block*/
 }
 li {
    display: inline-block;
    width: 25%;
    position:relative;
    font-size: 14px
 }
 ul ul {
    position: absolute;
    display: none;
 }
 ul ul li {
    display: block;
 }
 ul li:hover ul {
    display:block;
 }
/*Fin Menu con Submenu*/


/*Posiciones*/
.posiciones__uno{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: green;
    border: 2px solid black;
    top: 5px; 
    left: 40px;
    position: relative;
    }

.posiciones__dos{
    width: 20px;
    height: 20px;
    background: blue;
    border: 2px solid black;
    top: 10px; 
    left: 20px;
    position: absolute;
}
/*Fin Posiciones*/

/*Content, margin, padding y border*/
.border{
    width: 500px;
    height: 500px;
    background: blue;
    border: 5px inset green;
    margin: 20px 30px;
    padding-left: 180px;
    padding-top: 240px;
}