*{
    margin: 0;
    padding: 0;
}

/*Gradientes*/

body{
    background: black;
    font-family: 'Poppins', sans-serif;;
}

main{
    width: 80%;
    margin: 0 auto;
}

section{
    margin-top: 30px;
    height: 600px;
    padding: 25px 0;
    border: 2px solid white;
}

button{
    padding: 10px 20px;
    font-size: 21px;
    border: 2px solid white;
    color: white;
    border-radius: 30px;
    text-transform: lowercase;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
    /*background-image: linear-gradient(30deg, #373B44,#4286f4);*/

}

/*Transform Scale*/
/*button:hover{
    transform: rotate(90deg);
}*/





