*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background: blue;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav__logo{
    height: 100%;
    background: white;
}

.nav__img{
    height: 100%;
}

.nav__vinculo{
    color: white;
    text-decoration: none;
}

.nav__vinculo--color{
    color: black;
}

.overflow{
    width: 500px;
    height: 250px;
    background: white;
    padding: 50px;
    margin: 20px auto;
    border: 5px dashed rgb(97, 67, 67);
    overflow: auto;
}



