*{
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffa5, #00ced1);
    background-color: mediumspringgreen;
    background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    background-repeat: repeat;
    font-family: 'Poppins', sans-serif;;
  }

/*Header*/
.title h1{
    padding: 20px 0;
    text-align: center;
    font-size: 30px;
}

.grid-container{
    background: #fff;
    width: 90%;
    max-width: 1000px;
    margin: 26px auto;

    display: grid;
    gap: 26px;
    grid-template-columns: repeat(4,1fr) ;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img{
    width: 10%;
}

.grid-container .header,
.grid-container .content,
.grid-container .sidebar,
.grid-container .footer,
.grid-container div{
    background: #fff;
    padding: 20px;
    border: 1px solid black;
}

.grid-container .header{
    background: #807e9b;
    grid-column: 1/5;
}

.grid-container .footer{
    background: #807e9b;
    grid-column: 1/5;
    color: #fff;
}

.grid-container > .content{
    grid-column: 1/-1;
}

.content > .article{
    background: #807e9b;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9;
}

.content .article h1,
.content .article p{
    padding: 5px;
}

.grid-container > .sidebar{
    grid-column: 1/5;
    background: hotpink;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container .sidebar img{
    width: 100%;
    margin-top: 5px;
}

/*Media Queries*/

/*tablets*/
@media screen and (min-width:768px) {
    .grid-container > .content{
        grid-column: 1/3;
    }
    .grid-container .sidebar{
        grid-column: span 2;
    }
    
}


