section{
    border: 2px solid green;
    padding: 30px;
    margin: 80px auto;
    width: 400px;
    height: 440px;
}

div{
    color: black;
    font-size: 20px;
    line-height: 100px;
    padding: 10px;
    text-align: center;
    width: 100px;
    height: 100px;
    position: relative;
}

.caja1{
    background: red;
}

.caja2{
    background: blue;
    top: 40px;
    left: 40px;
    z-index: 20;
}

.caja3{
    background: brown;
    z-index: 10;
}
