.cuadrado{
    width: 200px;
    height: 200px;
    background: #aaa;
    /*TRANSITIONS*/
    transition-property: width, height, background-color;
    transition-duration: 10s;
    transition-timing-function: ease-out;
}

.cuadrado:hover{
    width: 600px;
    height: 600px;
    background-color: red;
}  


/*ANIMATIONS
animation-name: nuevaanimacion;
animation-duration: 4s;
animation-delay: 2s;
position: relative;
animation-direction: reverse;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

@keyframes nuevaanimacion {
    0%{
        background: #aaa;
        left: 0px;
        top: 0px;
    }
    25%{
        background: red;
        left: 300px;
        top: 0px;
    }
    50%{
        background: green;
        left: 300px;
        top: 300px;
    }
    75%{
        background: pink;
        left: 0px;
        top: 300px;
    }
    100%{
        background: blue;
        left: 0px;
        top: 0px;
    }
    
}*/